@import "tailwindcss";

/* *{
    background-color: #0000ff;   blue;
    background-color: #008000;  green;
    background-color: #ee82ee; violet;
    background-color: #ffff00;  yellow;
    background-color: #ffa500;   orange;
    background-color: #ff0000;   red;
} */

button{
    cursor: pointer;
    font-size: 15px;
}
.no-print{
    color: red;
}